{% extends '::base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="span2">
            <h4>Album</h4> 
        </div>
        
        <div class="span10">
            <ul class="thumbnails">
            {% for image in image_list %}
                <li class="span2">
                    <a href="{{ image.webpath | imagine_filter('maxi_size') }}" class="thumbnail" rel="lightbox[1]">
                         <img src="{{ image.webpath | imagine_filter('small_thumb') }}" />
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
   </div>
{% endblock %}
