{% extends '::base.html.twig' %}

{% block body %}
    
    <div class="row">
        <div class="span2">
            <h3>Entry date</h3> 
            <span class="label label-warning">new</span>
        </div>
        <div class="span6">
            <button class="close">&times;</button>
            <h3>Author</h3>
            <p>Entry content blabla</p>
            
            <div class="alert alert-info"><strong>Commenter#1: </strong>a comment</div>
            <div class="alert alert-info"><strong>Commenter#2: </strong>another comment</div>
            <div class="alert alert-success"><strong>Author: </strong>response<button class="close">&times;</button></div>
            <form class="form-inline pull-right">
                <div class="input-prepend">
                    <span class="add-on">Author:</span><input class="input-xlarge" id="prependedInput" size="16" type="text" placeholder="mon commentaire">
                  </div>
                <button type="submit" class="btn">Commenter »</button>
            </form>         
        </div>
        
        <div class="span4">
            <ul class="thumbnails">
                <li class="span2">
                    <a href="http://placehold.it/260x180" class="thumbnail" rel="lightbox[111]">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>
                </li>
                <li class="span2">
                    <a href="http://placehold.it/260x180" class="thumbnail" rel="lightbox[111]">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>
                </li>
                <li class="span2">
                    <a href="http://placehold.it/260x180" class="thumbnail" rel="lightbox[111]">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>
                </li>
                <li class="span2">
                    <a href="http://placehold.it/260x180" class="thumbnail" rel="lightbox[111]">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="span10 offset2">
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="span2">
            <span class="label label-warning">nouveau</span>
        </div>
        <div class="span6">
            <h3>Author</h3>
            <p>Another entry content</p>
        </div>
        <div class="span4">
            <div class="alert alert-info"><strong>Commenter: </strong>comment blah</div>
            <div class="alert alert-success"><strong>Author: </strong>comment blah blah</div>
            <p class="pull-right"><a class="btn" href="#">Commenter »</a></p>
        </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="span2">
            <h3>Another date</h3>
        </div>
        <div class="span6">
            <h3>Author</h3>
            <p>bla bla bla, bli ?</p>
            <p class="pull-right"><a class="btn" href="#">Commenter »</a></p>
        </div>
        <div class="span4">
            <ul class="thumbnails">
                <li class="span4">
                    <a href="http://placehold.it/260x180" class="thumbnail" rel="lightbox">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <hr>
          
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>28/11/11<span class="badge badge-info pull-right">4</span></h2>
          	
           <p>Donec id elit non mi porta gravida at eget metus. Fusce 
dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut 
fermentum massa justo sit amet risus. Etiam porta sem malesuada magna 
mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details »</a></p>
        </div>
        <div class="span4">
          <h2>Heading <span class="badge pull-right">0</span></h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce 
dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut 
fermentum massa justo sit amet risus. Etiam porta sem malesuada magna 
mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details »</a></p>
       </div>
        <div class="span4">
          <h2>Heading <span class="badge badge-info pull-right">2</span></h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis 
in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. 
Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
 ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div>
      </div>

{% endblock %}
