{% extends 'InouireMininetBundle:Default:headerAlbum.html.twig' %}

{% block album %}
   
    <center>
    
        {% if ("now" |date("Y")) == year %}
            <h4>Aucune photo n'a été publiée cette année.</h4>
            <h5>Publiez simplement un post avec photo pour démarrer l'album automatique.</h5>
        {% else %}
            <h4>Aucune photo n'a été publiée durant l'année {{ year }}.</h4>
            {% if ("now" |date("Y")) < year %}
                <h5>D'un autre coté on est encore qu'en {{"now" |date("Y")}}...</h5>
            {% endif %}
        {% endif %}
        <img src="{{asset('css/icons/folder-pictures.png')}}"/>
        
    </center>
        
{% endblock %}

