{% extends 'InouireMininetBundle:Default:headerAlbum.html.twig' %}

{% block album %}
   
    <center>
    
    
		{% if ("now" |date("Y")) == year %}
			<h3>Aucune photo n'a été publiée cette année.</h3>
			<h4>Publiez simplement un post avec photo pour démarrer l'album automatique.</h4>
		{% else %}
			<h3>Aucune photo n'a été publiée durant l'année {{ year }}.</h3>
			{% if ("now" |date("Y")) < year %}
				<h4>D'un autre coté on est seulement en  {{"now" |date("Y")}}...</h4>
			{% else %}
				<h4>Désolé.</h4>
			{% endif %}
        {% endif %}
        
    </center>
        
{% endblock %}

