{% extends 'InouireMininetBundle:Default:headerAlbum.html.twig' %}

{% block album %}
   
    <center>
    
        <h3>Aucune photo disponible pour l'année {{ year }}.</h3>
        <h4>Désolé.</h4>
    </center>
        
{% endblock %}

