{% extends 'InouireMininetBundle:Default:base.html.twig' %}

{% block body %}

    {% include 'InouireMininetBundle:Default:blankBlock.html.twig' %}
    
    <center>
        {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </center>
{% endblock %}

{% block footer %}

{% endblock %}
