{% extends 'InouireMininetBundle:Default:headerAlbum.html.twig' %}

{% block album %}

    <div class="row">
        <div class="span12">
            <ul class="thumbnails">   
    
                {% for image in image_list %}

                    <li class="span2">
                        <a href="{{ path('get_image',{"image_id":image.id}) }}" class="fancybox thumbnail" rel="fancybox[{{requested_year}}]">
                             <img src="{{ image.webpath | imagine_filter('small_thumb') }}" />
                        </a>
                    </li>

                {% endfor %}
            
            </ul>
        </div>
   </div>
   
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        $(document).ready(function(){
            
            //init fancybox on all pictures, with thumb
            $(".fancybox").fancybox({
                loop: false,
                openEffect: 'fade',
                closeEffect: 'fade',
                nextEffect: 'none',
                prevEffect:'none',
                nextClick: true,
                helpers:  {
                    thumbs : {
                        width: 50,
                        height: 50
                    }
                }
            });
        });
    </script>
{% endblock %}
