{% extends 'InouireMininetBundle:Default:base.html.twig' %}


{% block body %}

    {% include 'InouireMininetBundle:Default:blankBlock.html.twig' %}
    
    <div class="row">
        <center>           
            <div>
              <h2>
                {{ sharelink.author.username}} a souhaité partager ces fichiers avec vous:<br>
                <small>Ce lien expirera le {{sharelink.expirationDate | localeDate('medium','none',null,'d MMMM YYYY')}} (dans {{sharelink.getExpirationDays + 1}} jours) </small>
              </h2>
            </div>
            <br>
            
            <!--<a href="#" class="btn btn-inverse">
                Copier le lien dans le press-papier
            </a>-->
        
        </center>
    </div>
    
    {% include 'InouireMininetBundle:Default:blankBlock.html.twig' %}

{% endblock %}


{% block footer %}
    
    <div class="big-blank-block visible-desktop"></div>
    {{ parent() }}
    
{% endblock %}
