
body {
    padding-bottom: 40px;
    background-image: url('bg/debut_light.png');
    background-repeat: repeat;
}
.very-close{
    margin-top:3px;
    margin-bottom:3px;
    padding: 4px;
    padding-left: 8px;
    max-width: 75%;
}
.author-comment{
    max-width: 75%;
    margin-left: 25%;
}
.anchoroffset{
   position:relative;
   top:-30px;
}
.big-blank-block{
    height: 100px;
}
.medium-blank-block{
    height: 60px;
}
.small-blank-block{
    height: 20px;
}

