
body {
    padding-bottom: 40px;
}
.block-far{
    padding-top: 100px;
}
.very-close{
    margin-top:3px;
    margin-bottom:3px;
    padding: 4px;
    padding-left: 8px;
    max-width: 75%;
}
.author-comment{
    max-width: 75%;
    margin-left: 25%;
}
.anchoroffset{
   position:relative;
   top:-30px;
}
