{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <a href="{{path('home')}}" class="btn btn-inverse">Aller à la page d'accueil</a>
{% endblock fos_user_content %}
